.mainBody {
    display: grid;
    grid-template-rows: 34rem 7rem 4rem 44rem;
}

.topSection {
    position: relative;
}

.columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5rem;
    padding-top: 2rem;
}


