.homeBody {
    display: flex;
    flex-direction: column;
}

.topSection {
    height: 40rem;
    padding: 2rem 0;
    position: relative;
}

.columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5rem;
}

.bottomSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1.5rem;
    align-items: center;
}
